<br>
<br>
<div class="container col-12">


  <ag-grid-angular
  class="ag-theme-alpine"
  style="height: 400px; width: 100%;"
  [rowData]="itemService.sentOrders"
  [columnDefs]="colDefs2"
  [defaultColDef]="defaultColDef">
  </ag-grid-angular>
  <div class="price-table" >
    <div class="d-flex justify-content-between" *ngFor="let order of itemService.sentOrders">
      <div>{{order.number}}  x  {{order.type}}/{{order.model}}</div>
      <div>{{order.totalPrice}} EUR</div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div>Total price:</div>
      <div>{{itemService.inventoryTotalPrice}} EUR</div>
    </div>
  </div>
  <br>
  <div class="row" style="margin-top: 50px;">
    <div class="col d-flex justify-content-start">
        <button type="button" class="btn btn-primary" (click)="onGoHome()"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Go Home</button>
        <p>&nbsp;&nbsp;</p>
    </div>
</div>
<br>






</div>