<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="../assets/shoes/shoe_1.jpg" class="card-img-top">
            </div>
            <br>
            <div class="justify-content-evenly d-flex">
                <i class="bi bi-dash-circle h3 counter-padding" (click)="decreaseShoeModel1()"></i>
                <div class="counter-score-center">{{shoeModelCounter_1}}</div>
                <i class="bi bi-plus-circle h3 counter-padding" (click)="increaseShoeModel1()"></i>
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="shoeSize_1">
                    <option value="" disabled selected>Select an size</option>
                    <option  *ngFor="let size of firstTypeShoe.sizes" value={{size}}>{{size}}</option>
                  </select>
                  <div></div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="../assets/shoes/shoe_2.jpg" class="card-img-top">
            </div>
            <br>
            <div class="justify-content-evenly d-flex">
                <i class="bi bi-dash-circle h3 counter-padding" (click)="decreaseShoeModel2()"></i>
                <div class="counter-score-center">{{shoeModelCounter_2}}</div>
                <i class="bi bi-plus-circle h3 counter-padding" (click)="increaseShoeModel2()"></i>
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <select #shoes2 class="form-select" aria-label="Default select example" [(ngModel)]="shoeSize_2">
                    <option value="" disabled selected>Select an size</option>
                    <option  *ngFor="let size of secondTypeShoe.sizes" value={{size}}>{{size}}</option>
                  </select>
                  <div></div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="../assets/shoes/shoe_3.jpg" class="card-img-top">
            </div>
            <br>
            <div class="justify-content-evenly d-flex">
                <i class="bi bi-dash-circle h3 counter-padding" (click)="decreaseShoeModel3()"></i>
                <div class="counter-score-center">{{shoeModelCounter_3}}</div>
                <i class="bi bi-plus-circle h3 counter-padding" (click)="increaseShoeModel3()"></i>
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <select #shoes3 class="form-select" aria-label="Default select example" [(ngModel)]="shoeSize_3">
                    <option value="" disabled selected>Select an size</option>
                    <option  *ngFor="let size of thirdTypeShoe.sizes" value={{size}}>{{size}}</option>
                  </select>
                  <div></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-start buttons-margins">
            <button type="button" class="btn btn-primary" (click)="onGoHome()"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Go Home</button>
            <p>&nbsp;&nbsp;</p>
            <button type="button" class="btn btn-success" (click)="onAddToCart()"><i class="bi bi-cart"></i>&nbsp;&nbsp;Add to cart</button>
        </div>
        <div class="col d-flex justify-content-end buttons-margins ">
            <button type="button" class="btn btn-danger" (click)="onEmptyCart()"><i class="bi bi-cart-x"></i>&nbsp;&nbsp;Empty cart</button>
        </div>
    </div>
    <br>
</div>