<div class="container">
  <div class="d-flex flex-wrap">


    <div class="card" style="width: 18rem;" *ngFor="let item of itemService.totalCartItems">
      <img src={{item.image}} class="card-img-top">
      <div>
        <div>Number of units: {{item.number}}</div>
        <div>Size: {{item.size}}</div>
        <div>Price per unit: {{item.price}}</div>
        <hr>
        <div>Subtotal: {{item.number * item.price}} EUR</div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <div>Total price: {{itemService.cartTotalPrice}} EUR</div>
  <br>
  <br>

  <div class="row">
    <div class="col d-flex justify-content-start align-items-end">
        <button type="button" class="btn btn-primary" (click)="onGoHome()"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Go Home</button>
        <p>&nbsp;&nbsp;</p>
        <button type="button" class="btn btn-danger" (click)="onEmptyCart()"><i class="bi bi-cart-x"></i>&nbsp;&nbsp;Empty cart</button>
    </div>
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-success" (click)="onSendOrder()"><i class="bi bi-send"></i>&nbsp;&nbsp;Send order</button>
    </div>
</div>
<br>
</div>



  