<div class="container">
  <div class="d-flex flex-wrap">

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart1S.number>0">
    <img src="../assets/shoes/shoe_1.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart1S.number}}</div>
      <div>Size: {{itemService.shoeInCart1S.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart1S.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart1S.number * itemService.shoeInCart1S.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart1M.number>0">
    <img src="../assets/shoes/shoe_1.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart1M.number}}</div>
      <div>Size: {{itemService.shoeInCart1M.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart1M.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart1M.number * itemService.shoeInCart1M.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart1L.number>0">
    <img src="../assets/shoes/shoe_1.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart1L.number}}</div>
      <div>Size: {{itemService.shoeInCart1L.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart1L.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart1L.number * itemService.shoeInCart1L.price}} EUR</div>
    </div>
  </div>


  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart2S.number>0">
    <img src="../assets/shoes/shoe_2.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart2S.number}}</div>
      <div>Size: {{itemService.shoeInCart2S.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart2S.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart2S.number * itemService.shoeInCart2S.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart2M.number>0">
    <img src="../assets/shoes/shoe_2.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart2M.number}}</div>
      <div>Size: {{itemService.shoeInCart2M.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart2M.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart2M.number * itemService.shoeInCart2M.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart2L.number>0">
    <img src="../assets/shoes/shoe_2.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart2L.number}}</div>
      <div>Size: {{itemService.shoeInCart2L.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart2L.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart2L.number * itemService.shoeInCart2L.price}} EUR</div>
    </div>
  </div>


  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart3S.number>0">
    <img src="../assets/shoes/shoe_3.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart3S.number}}</div>
      <div>Size: {{itemService.shoeInCart3S.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart3S.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart3S.number * itemService.shoeInCart3S.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart3M.number>0">
    <img src="../assets/shoes/shoe_3.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart3M.number}}</div>
      <div>Size: {{itemService.shoeInCart3M.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart3M.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart3M.number * itemService.shoeInCart3M.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shoeInCart3L.number>0">
    <img src="../assets/shoes/shoe_3.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shoeInCart3L.number}}</div>
      <div>Size: {{itemService.shoeInCart3L.size}}</div>
      <div>Price per unit: {{itemService.shoeInCart3L.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shoeInCart3L.number * itemService.shoeInCart3L.price}} EUR</div>
    </div>
  </div>


  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart1S.number>0">
    <img src="../assets/shirts/shirt_1.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart1S.number}}</div>
      <div>Size: {{itemService.shirtInCart1S.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart1S.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart1S.number * itemService.shirtInCart1S.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart1M.number>0">
    <img src="../assets/shirts/shirt_1.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart1M.number}}</div>
      <div>Size: {{itemService.shirtInCart1M.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart1M.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart1M.number * itemService.shirtInCart1M.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart1L.number>0">
    <img src="../assets/shirts/shirt_1.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart1L.number}}</div>
      <div>Size: {{itemService.shirtInCart1L.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart1L.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart1L.number * itemService.shirtInCart1L.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart2S.number>0">
    <img src="../assets/shirts/shirt_2.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart2S.number}}</div>
      <div>Size: {{itemService.shirtInCart2S.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart2S.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart2S.number * itemService.shirtInCart2S.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart2M.number>0">
    <img src="../assets/shirts/shirt_2.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart2M.number}}</div>
      <div>Size: {{itemService.shirtInCart2M.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart2M.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart2M.number * itemService.shirtInCart2M.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart2L.number>0">
    <img src="../assets/shirts/shirt_2.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart2L.number}}</div>
      <div>Size: {{itemService.shirtInCart2L.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart2L.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart2L.number * itemService.shirtInCart2L.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart3S.number>0">
    <img src="../assets/shirts/shirt_3.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart3S.number}}</div>
      <div>Size: {{itemService.shirtInCart3S.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart3S.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart3S.number * itemService.shirtInCart3S.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart3M.number>0">
    <img src="../assets/shirts/shirt_3.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart3M.number}}</div>
      <div>Size: {{itemService.shirtInCart3M.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart3M.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart3M.number * itemService.shirtInCart3M.price}} EUR</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngIf="itemService.shirtInCart3L.number>0">
    <img src="../assets/shirts/shirt_3.jpg" class="card-img-top">
    <div>
      <div>Number of units: {{itemService.shirtInCart3L.number}}</div>
      <div>Size: {{itemService.shirtInCart3L.size}}</div>
      <div>Price per unit: {{itemService.shirtInCart3L.price}}</div>
      <hr>
      <div>Subtotal: {{itemService.shirtInCart3L.number * itemService.shirtInCart3L.price}} EUR</div>
    </div>
  </div>


  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col d-flex justify-content-start align-items-end">
        <button type="button" class="btn btn-primary" (click)="onGoHome()"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Go Home</button>
        <p>&nbsp;&nbsp;</p>
        <button type="button" class="btn btn-danger" (click)="onEmptyCart()"><i class="bi bi-cart-x"></i>&nbsp;&nbsp;Empty cart</button>
    </div>
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-success" (click)="onSendOrder()"><i class="bi bi-send"></i>&nbsp;&nbsp;Send order</button>
    </div>
</div>
<br>

</div>



  