i {
    font-size: larger;
}

.header-prop {
    background-color: rgb(0, 119, 255);
    color: white;
}

h1 {
    padding-left: 258px;
    font-family: 'Font1';
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 44;
    font-style: normal;
}


.icons-block {
    padding-right: 258px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.categories-margin {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 12px;
}

.hover-element:hover {
    border-bottom: 2px solid transparent;
    border-color: white;
    transition: border-bottom 0.3s; /* Add transition for smooth effect */
}

.before-hover-element {
    border-bottom: 2px solid transparent;
    border-color: rgb(0, 119, 255);
}
