<div>
  <div class="d-flex justify-content-between header-prop">
    <div>
      <div class="d-flex justify-content-start">
        <h1 (click)="clickOnLogo()">Pablo's Shop</h1>
          <span class="material-symbols-outlined categories-margin h4">shopping_bag</span>
      </div>
    </div>
    <div class="icons-block">
      <div class="categories">
        <div class="categories-margin hover-element before-hover-element" 
        *ngFor="let category of categories" (click)="navigateToProductGivenType(category.type)">{{category.categoryName}}
      </div>
      </div>
      <div><i class="bi bi-list h3" (click)="clickOnInventory()"></i></div>    
      <div *ngIf="itemService.totalCartItems.length>0; else elseBlock">
        <div><i class="bi bi-cart-check h3" (click)="clickOnCart()"></i></div>       
      </div>
      <ng-template #elseBlock><div><i class="bi bi-cart h3" (click)="clickOnCart()"></i></div></ng-template>
      <i class="bi bi-question-circle" (click)="onGoToHelp()"></i>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>

