<div>
  <div class="d-flex justify-content-between header-prop">
    <div>
      <h1 (click)="clickOnLogo()">Shop of Pablo</h1>
    </div>
    <div class="icons-block">
      <i class="bi bi-list h3" (click)="clickOnInventory()"></i>
      <div *ngIf="itemService.totalCartItems.length>0; else elseBlock">
        <div><i class="bi bi-cart-check h3" (click)="clickOnCart()"></i></div>
        
      </div>
      <ng-template #elseBlock><i class="bi bi-cart h3" (click)="clickOnCart()"></i></ng-template>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

