<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
        <div class="row mx-5">
            <div class="mb-3 col">
                <label for="" class="form-label">First name</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                <span *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">First name is required</span>
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label">Last name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                <span *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">Last name is required</span>
              </div>
        </div>    
        <div class="row mx-5">
            <div class="mb-3 col">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">

                <div *ngIf="userForm.get('email')?.errors && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
                    <span *ngIf="userForm.get('email')?.hasError('required')">Email is required.</span>
                    <span *ngIf="userForm.get('email')?.hasError('email')">Invalid email format.</span>
                  </div>
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label">Number</label>
                <input type="text" class="form-control" formControlName="telephone" placeholder="Telephone">
                <div *ngIf="userForm.get('telephone')?.errors && (userForm.get('telephone')?.dirty || userForm.get('telephone')?.touched)">
                    <span *ngIf="userForm.get('telephone')?.hasError('pattern')">Phone field must only contain numbers.</span>
                    <div *ngIf="!userForm.get('telephone')?.hasError('pattern')">
                        <span *ngIf="userForm.get('telephone')?.hasError('minlength')">Phone must be at least 6 characters long.</span>
                    </div>                
                    </div>
              </div>
        </div>
        <div class="row mx-5">
            <div class="mb-3 col">
                <br>
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" formControlName="text" placeholder="Message" rows="7"></textarea>
                <div *ngIf="userForm.get('text')?.errors && (userForm.get('text')?.dirty || userForm.get('text')?.touched)">
                    <span *ngIf="userForm.get('text')?.hasError('required')">Message is required.</span>
                    <span *ngIf="userForm.get('text')?.hasError('minlength')">Textarea must be at least 20 characters long.</span>
                  </div>
            </div>
            </div>
        <div>
            <div class="buttons-margins">
                <button type="button" class="btn btn-primary" (click)="onGoHome()"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Go Home</button>
                <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br>
            <br>
        </div>
    </form>
    <div class="d-flex justify-content-center" *ngIf="showAlert">
        <div class="alert alert-success alert-sm" role="alert">
            <div>Message successfully sent</div>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onCloseAlertButton()"></button>
          </div>

    </div>

</div>