.buttons-margins {
    margin-left: 60px;
    margin-right: 65px;
    margin-top: 25px;
}

button {
    margin-right: 20px;
}

form {
    margin-top: 20px;
}

span {
    color: red;
}

.alert-sm {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
