<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="../assets/trousers/trousers_1.jpg" class="card-img-top">
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <i class="bi bi-dash-circle h3" (click)="decreaseTrouserModel1()"></i>
                <div>{{trouserModelCounter_1}}</div>
                <i class="bi bi-plus-circle h3" (click)="increaseTrouserModel1()"></i>
                <div></div>
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="trouserSize_1">
                    <option value="" disabled selected>Select an size</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                  </select>
                  <div></div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="../assets/trousers/trousers_2.jpg" class="card-img-top">
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <i class="bi bi-dash-circle h3" (click)="decreaseTrouserModel2()"></i>
                <div>{{trouserModelCounter_2}}</div>
                <i class="bi bi-plus-circle h3" (click)="increaseTrouserModel2()"></i>
                <div></div>
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <select #shoes2 class="form-select" aria-label="Default select example" [(ngModel)]="trouserSize_2">
                    <option value="" disabled selected>Select an size</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                  </select>
                  <div></div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="card" style="width: 18rem;">
                <img src="../assets/trousers/trousers_3.jpg" class="card-img-top">
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <i class="bi bi-dash-circle h3" (click)="decreaseTrouserModel3()"></i>
                <div>{{trouserModelCounter_3}}</div>
                <i class="bi bi-plus-circle h3" (click)="increaseTrouserModel3()"></i>
                <div></div>
            </div>
            <br>
            <div class="justify-content-evenly d-flex" style="width: 18rem;">
                <div></div>
                <select #shoes3 class="form-select" aria-label="Default select example" [(ngModel)]="trouserSize_3">
                    <option value="" disabled selected>Select an size</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                  </select>
                  <div></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-start buttons-margins">
            <button type="button" class="btn btn-primary" (click)="onGoHome()"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Go Home</button>
            <p>&nbsp;&nbsp;</p>
            <button type="button" class="btn btn-success" (click)="onAddToCart()"><i class="bi bi-cart"></i>&nbsp;&nbsp;Add to cart</button>
        </div>
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-danger buttons-margins" (click)="onEmptyCart()"><i class="bi bi-cart-x"></i>&nbsp;&nbsp;Empty cart</button>
        </div>
    </div>
    <br>
</div>